<h2>Update todo {{ todo.id }}</h2>

<p><b>Update full</b></p>

<app-todo-form
  [todo]=todo
  [allowIdInput]=false
  [isLoading]=isLoading
  [submitButtonText]="'Update full'"
  (submitTodoEmitter)=onSubmitTodoEvent()
  ></app-todo-form>

<hr/>

<p><b>Update partial (only update 'title' field)</b></p>

<div class="container">
  <div class="row">
    <label for="partialtitle">Title</label>
    <input
      type="text"
      class="form-control"
      id="partialtitle"
      required
      [(ngModel)]="todo.title"
      [attr.disabled]="isLoading ? true : null">
  </div>
  <br>
  <button (click)="onUpdatePartialTodoClick()" class="btn btn-success">Update partial</button>
</div>
<br>
