<h1>HTTP status codes</h1>

<p>Select a HTTP status code from the dropdown below. Then click the 'Request' button to perform a request and receive a response from <a href="https://httpstat.us/">httpstat.us</a> with the selected code. Custom logic based on the response code is performed by <a href="https://github.com/peterrhodesdev/angular-generic-api-service/blob/main/src/app/interceptors/http-error.interceptor.ts">HttpErrorInterceptor</a>, e.g.</p>

<ul>
  <li>
    <ng-container *ngFor="let status of [401, 403]; let i = index">
      <span (click)="changeSelectedHttpStatusCode(status)">{{status}}</span><ng-container *ngIf="i < 1">, </ng-container>
    </ng-container>: redirect to login page
  </li>
  <li><span (click)="changeSelectedHttpStatusCode(404)">404</span>: custom error message</li>
  <li>
    <ng-container *ngFor="let status of [408, 503]; let i = index">
      <span (click)="changeSelectedHttpStatusCode(status)">{{status}}</span><ng-container *ngIf="i < 1">, </ng-container>
    </ng-container>: retry request (see the failed requests in the console: CTRL + SHIFT + J)
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="selectStatus"
          ngbDropdownToggle>
          {{getStatusCodeDescription(selectedHttpStatusCode)}}</button>
        <div ngbDropdownMenu aria-labelledby="selectStatus" style="max-height: 50vh; overflow-y: auto;">
          <button
            ngbDropdownItem
            *ngFor="let httpStatusCode of httpStatusCodes"
            (click)="changeSelectedHttpStatusCode(httpStatusCode)">{{getStatusCodeDescription(httpStatusCode)}}</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="performRequest(selectedHttpStatusCode)" [disabled]="isPerformingRequest">Request</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p><b>Request log</b></p>
      <p *ngIf="requestLog.length === 0; else showrequestlog">Perform a request to see the log</p>
      <ng-template #showrequestlog>
        <ul *ngFor="let log of requestLog">
          <li><p *ngFor="let line of log">{{line}}</p></li>
        </ul>
      </ng-template>
      <div *ngIf="isPerformingRequest"><app-loading-spinner></app-loading-spinner></div>
    </div>
  </div>
</div>
