<h1>Todos</h1>

<p>Examples of HTTP requests for the JSON Placeholder <a href="https://jsonplaceholder.typicode.com/todos">todos</a> endpoint</p>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeNavItem" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>List todos</a>
    <ng-template ngbNavContent>
      <app-list-todos
        [todos]=todos
        [isLoading]=isLoading
        (deletedTodoWithId)=onDeleteTodoEvent($event)
        (editTodoWithId)=onEditTodoEvent($event)
        (getAll)=onGetAllEvent()
        (getFilteredWithUserId)=onGetFilteredEvent($event)
        (viewTodoWithId)=onViewTodoEvent($event)
        ></app-list-todos>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>View todo</a>
    <ng-template ngbNavContent>
      view one todo
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Add new</a>
    <ng-template ngbNavContent>
      add new todo
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Edit existing</a>
    <ng-template ngbNavContent>
      edit existing todo
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
