<h1>Angular generic API service</h1>

<p>Angular demo project for a generic API service using <a href="https://jsonplaceholder.typicode.com/">JSON Placeholder</a> and <a href="https://httpstat.us/">httpstat.us</a>.</p>

<h2><a routerLink="/todos">Todos</a></h2>

<p>Examples of how to perform various HTTP request methods (DELETE, GET, PATCH, POST, PUT) for a specific endpoint by extending services/BaseApiEndpointService.</p>

<h2><a routerLink="/users">Users</a></h2>

<p>Demonstrates class-transformer mapping of plain javascript objects returned from an API call to an instance of a class.</p>

<h2><a routerLink="/http-status-codes">HTTP status codes</a></h2>

<p>Exercise custom logic based on the HTTP response status code.</p>
