<header>
  <app-navigation-bar></app-navigation-bar>
</header>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<footer class="mt-auto">
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="https://peterrhodes.dev" target="_blank">Peter Rhodes Dev</a>
      </div>
      <div class="col-sm">
        <a href="https://github.com/peterrhodesdev/angular-starter" target="_blank"><fa-icon [icon]="faGithub"></fa-icon>&nbsp;Check out the GitHub repo</a>
      </div>
    </div>
  </div>
</footer>
