<header id="#top">
  <app-navigation-bar></app-navigation-bar>
</header>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<footer class="mt-auto">
  <div class="container-fluid border-top">
    <div class="row bg-dark">
      <div class="col d-flex justify-content-center">
        <a class="text-light" routerLink="home">Home</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="text-light" routerLink="todos">Todos</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="text-light" routerLink="users">Users</a>
      </div>
    </div>
    <div class="row bg-dark">
      <div class="col">
        <a class="text-light" href="https://peterrhodes.dev" target="_blank">Peter Rhodes Dev</a>
      </div>
      <div class="col-auto">
        <a class="text-light d-flex align-items-end" href="https://github.com/peterrhodesdev/angular-generic-api-service" target="_blank"><fa-icon [icon]="faGithub"></fa-icon>&nbsp;Check out the GitHub repo</a>
      </div>
    </div>
  </div>
</footer>
