<h1>Users</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Users list</h2>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Email</th>
          <th scope="col">View user details</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngIf="isPerformingRequest; else showusers"><td colspan="3"><app-loading-spinner></app-loading-spinner></td></tr>
          <ng-template #showusers>
            <tr *ngFor="let user of users">
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.email }}</td>
              <td><button (click)="onViewUserClick(user.id!)" class="btn btn-info">View</button></td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h2>User {{ selectedUser ? selectedUser!.id : '' }} details</h2>
      <div *ngIf="selectedUser">
        <p><b>Confirm can call class method</b></p>
        <p>UserModel.getFirstName() and UserModel.getLastName():</p>
        <p>First name = {{ selectedUser!.getFirstName() }}, last name = {{ selectedUser!.getLastName() }}</p>
        <p><b>Confirm can call nested class method</b></p>
        <p>UserModel.address.geo.toDegreesMinutesSeconds() (lat/lng decimal as degrees, minutes, and seconds):</p>
        <p>{{ selectedUser!.address.geo.toDegreesMinutesSeconds() }}</p>
        <p><b>Confirm that nested objects have been populated</b></p>
        <pre><code>{{ selectedUser | json }}</code></pre>
      </div>
    </div>
  </div>
</div>
