<div class="container">
  <div class="row align-items-end">
    <div class="col-4">
      <button (click)="onGetAllClick()" class="btn btn-primary" id="getAllButton">Get all</button>
    </div>
    <div class="col-4">
      <label for="userid">Get todos filtered by user ID:</label>
      <input type="number" class="form-control" id="userid" [(ngModel)]="userIdFilter">
      <button (click)="onGetFilteredClick()" class="btn btn-secondary">Get filtered</button>
    </div>
  </div>
</div>

<hr />

<ngb-pagination
  [(page)]="paginationPage"
  [pageSize]="paginationPageSize"
  [maxSize]="5"
  [collectionSize]="todos.length"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
  (pageChange)="onPageChange()"
  ></ngb-pagination>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">User ID</th>
    <th scope="col">Title</th>
    <th scope="col">Completed</th>
    <th scope="col" colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="isLoading; else showtodos"><td colspan="7"><app-loading-spinner></app-loading-spinner></td></tr>
    <ng-template #showtodos>
      <tr *ngFor="let todo of todosPage">
        <th scope="row">{{ todo.id }}</th>
        <td>{{ todo.userId }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.completed }}</td>
        <td><button (click)="onDeleteTodoClick(todo.id!)" class="btn btn-danger">Delete</button></td>
        <td><button (click)="onUpdateTodoClick(todo.id!)" class="btn btn-warning">Update</button></td>
        <td><button (click)="onViewTodoClick(todo.id!)" class="btn btn-info">View</button></td>
      </tr>
    </ng-template>
  </tbody>
</table>
