<div class="container">
  <div class="row align-items-end">
    <div class="col-3">
      <button (click)="onGetAllClick()" class="btn btn-primary" id="getAllButton">Get all</button>
    </div>
    <div class="col-3">
      <label for="userid">Get todos filtered by user ID:</label>
      <input type="text" class="form-control" id="userid" [(ngModel)]="userIdFilter">
      <button (click)="onGetFilteredClick()" class="btn btn-secondary">Get filtered</button>
    </div>
  </div>
</div>

<br />

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">User ID</th>
    <th scope="col">Title</th>
    <th scope="col">Completed</th>
    <th scope="col" colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <tr *ngFor="let todo of todos">
    <th scope="row">{{ todo.id }}</th>
    <td>{{ todo.userId }}</td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.completed }}</td>
    <td><button (click)="onDeleteTodoClick(todo.id!)" class="btn btn-danger">Delete</button></td>
    <td><button (click)="onEditTodoClick(todo.id!)" class="btn btn-warning">Edit</button></td>
    <td><button (click)="onViewTodoClick(todo.id!)" class="btn btn-info">View</button></td>
  </tr>
  </tbody>
</table>
