<h1>Posts</h1>

<p>Examples of HTTP requests for the JSON Placeholder <a href="https://jsonplaceholder.typicode.com/posts">Posts</a> endpoint</p>

<h2>GET many</h2>

<div class="container">
  <div class="row align-items-end">
    <div class="col-3">
      <button (click)="onGetAllClick()" class="btn btn-primary" id="getAllButton">Get all posts</button>
    </div>
    <div class="col-3">
      <label for="userid">Get posts filtered by user ID:</label>
      <input type="text" class="form-control" id="userid" [(ngModel)]="userIdFilter">
      <button (click)="onGetFilteredClick()" class="btn btn-secondary">Get filtered</button>
    </div>
  </div>
</div>

<br />

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">User ID</th>
    <th scope="col">Title</th>
    <th scope="col">Body</th>
  </tr>
  </thead>
  <tbody>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <tr *ngFor="let post of posts">
    <th scope="row">{{ post.id }}</th>
    <td>{{ post.userId }}</td>
    <td>{{ post.getUpperCaseTitle() }}</td>
    <td>{{ post.body }}</td>
  </tr>
  </tbody>
</table>
